.uppy-Root .uppy-Dashboard--modal[aria-hidden="true"] {
  display: block;
}

.uppy-Root .uppy-Dashboard-inner , .uppy-Dashboard-innerWrap,.uppy-Dashboard-AddFilesPanel
,.uppy-StatusBar-actions{
background: #4D4D4D;
}

.uppy-Root .uppy-Dashboard-AddFilesPanel{
  background: #4D4D4D;
}

.uppy-Root .uppy-StatusBar-actions{
  background: #4D4D4D;
}


/* .uppy-Root .uppy-Dashboard-AddFilesPanel{
  background: #4D4D4D;
} */

/* .uppy-Root .uppy-StatusBar-actions{
  background: #4D4D4D;
} */

.uppy-Root .uppy-size--md .uppy-Dashboard-AddFiles-title{
  color:white;
}

.uppy-Dashboard-inner .uppy-Dashboard-innerWrap .uppy-Dashboard-AddFiles{
  border-color: #A6A6A6;
  border: 4px dashed #dfdfdf;
}

.uppy-Dashboard-inner .uppy-Dashboard-close {
  display: none;
}
